body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-bottom: 20px;
}

h1 {
    color: #0366d6;
}

#userSubDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#userDetails {
    display: flex;
    flex-direction: row;
    margin-left: -50%;
    margin-top: 20px;
}

#avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 40px;
}

#userInfo {
    text-align: center;
    display: flex;
}

#socialLinks {
    margin-top: 10px;
    text-align: start;
    display: flex;
    flex-direction: column;
}

#socialLinks a {
    text-decoration: none;
    color: #0366d6;
    font-weight: bold;
    margin: 0 10px;
}

#socialLinks a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #0366d6;
    color: #fff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #034078;
}

.repo-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 40px;
}

.repo-card {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.repo-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.repo-description {
    margin-bottom: 10px;
}

.repo-language {
    font-style: italic;
    color: #555;
}

#pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.page-link {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #0366d6;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#previousPageBtn,
#nextPageBtn {
    padding: 10px;
    font-size: 16px;
    background-color: #0366d6;
    color: #fff;
    cursor: pointer;
    border: none;
}

#previousPageBtn:hover,
#nextPageBtn:hover {
    background-color: #034078;
}